input {
  outline: none;

  border: 1px solid var(--color-gray);

  padding: 0.5rem 1rem;
  height: 2.5rem;

  border-radius: 1rem;

  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

input:hover {
  border-color: var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary-200);
}

input:focus {
  border-color: var(--color-primary);
  transform: translateY(-5px);
  box-shadow: 0 0 10px var(--color-primary-200);
}

input:focus::placeholder {
  transform: translateY(-5px);
  opacity: 0;
}

input::placeholder {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
