/* Button styles */
button {
    /* Remove default border and outline */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: var(--color-gray);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary-200);
    transform: translateY(-5px);
  }
  
  /* Add animation when button is clicked */
  button:active {
    transform: scale(0.95);
  }