.shinobi-card {
  max-width: 20rem;
  overflow: hidden;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--color-primary-100);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* add transition effect */
  cursor: pointer;
  background-color: var(--color-white);
}

.shinobi-card:hover {
  box-shadow: 0 0 10px var(--color-primary-200);
  transform: translateY(var(--float));
}

.shinobi-card img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius) var(--radius) 0 0;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-content h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20px;
  color: var(--color-gray);
}

.card-content button {
  background-color: var(--color-success);
  cursor: pointer;
}

.card-content button:hover {
  background-color: var(--color-success-hover);
}
