.snippet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
}

.icons {
  cursor: pointer;
  position: absolute;
}

.icons svg {
  width: 20px;
}

.opacity-0 {
  opacity: 0;
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.animate-fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
