/* style.css */
.tabs {
  display: flex;
  flex-direction: column;
}

.tab-buttons {
  display: flex;
  gap: 0.5rem;
}

.tab-button {
  display: block;
  padding: 20px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-radius: 15px 15px 0 0;
  background-color: var(--color-primary-300);
}

.tab-button:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}

.tab-button.active {
  background-color: #ffffff;
  color: #000000;
}

.tab-content {
  animation: fadeIn 0.5s ease;
  background-color: #ffffff;
  padding: 1rem;
}
