@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary-100: #e6effb;
  --color-primary-200: #cce0f7;
  --color-primary-300: #b3d1f3;
  --color-primary-400: #99c2ef;
  --color-primary-500: #80b3eb;
  --color-primary-600: #66a3e7;
  --color-primary-700: #4d94e3;
  --color-primary-800: #3385df;
  --color-primary-900: #1a75d9;
  --color-primary: #1a69ff;
  --color-success-100: #e6f4e6;
  --color-success-200: #cce9cc;
  --color-success-300: #b3deb3;
  --color-success-400: #99d499;
  --color-success-500: #80ca80;
  --color-success-600: #66bf66;
  --color-success-700: #4db54d;
  --color-success-800: #33aa33;
  --color-success-900: #4caf50;
  --color-success: #4caf50;
  --color-danger-100: #fce8e8;
  --color-danger-200: #f9d1d1;
  --color-danger-300: #f7b9b9;
  --color-danger-400: #f5a2a2;
  --color-danger-500: #f38b8b;
  --color-danger-600: #f17474;
  --color-danger-700: #ef5d5d;
  --color-danger-800: #ed4545;
  --color-danger-900: #eb2e2e;
  --color-danger: #e60000;
  --color-warning-100: #fff8e1;
  --color-warning-200: #ffefb2;
  --color-warning-300: #ffe683;
  --color-warning-400: #ffdd54;
  --color-warning-500: #ffd425;
  --color-warning-600: #ffca00;
  --color-warning-700: #ffc000;
  --color-warning-800: #ffb600;
  --color-warning-900: #ffad00;
  --color-warning: #ffc107;

  --color-gray: #808080;
  --color-gray-100: #f0f0f0;
  --color-success-hover: #3e8e41;
  --color-white: #ffffff;
  --color-black: #000000;

  --radius: 10px;
  --float: -5px;
  --shadow: 10px;
}

* {
  font-family: "Montserrat" !important;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 1rem;
  gap: 1rem;
}
