@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary:       rgba(26,105,255, 1.0);
  --color-primary-300:   rgba(26,105,255, .3);
  --color-primary-200:   rgba(26,105,255, .2);
  --color-primary-100:   rgba(26,105,255, .1);
  --color-gray:          rgba(128, 128, 128, 1.0);
  --color-success:       rgba(76, 175, 80, 1);
  --color-success-hover: rgba(62, 142, 65, 1);
  --color-white:         rgba(255, 255,255, 1);
  --color-black:         rgba(0, 0,0, 1);
}

* {
  font-family: "Montserrat" !important;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}